.bg-gradient-primary{
    background-color: #00ac8d !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #00ac8d!important;), to(#00ac8d!important));
    background-image: linear-gradient(180deg, #00ac8d 10%, #00ac8d 100%);
    background-size: cover;
}

.btn-primary {
    color: #fff;
    background-color: #8fc62c;
    border-color: #8fc62c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #87b338;
    border-color: #87b338;
}
